In [1]:
import pandas as pdf

In [3]:
df=pdf.read_csv('Heart4.csv')

In [8]:
df.tail()

,Age,Gender,ChestPainType,RestingBP,Cholesterol,FastingBS,RestECG,MaxHR,ExerciseAngina,Oldpeak,Slope,CA,Thal,Output
3495,42,1,3,109,328,1,1,188,0,5.123620,0,0,3,1
3496,31,0,1,199,217,1,0,141,0,0.111780,0,0,2,2
3497,48,0,3,182,275,1,1,81,1,6.101355,1,1,3,3
3498,63,0,1,130,245,0,1,158,1,4.497024,1,0,2,3
3499,50,1,2,196,296,0,0,162,0,1.489519,0,0,3,3